@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_PrintersOps.cshtml";
}

<h4>Мониторинг расхода бумаги по Стерлитамакскому отделению</h4>

<p>Мониторинг осуществляется по следующим подразделениям :</p>
<ol>
<li>349 - ВСП 8598/0349 (г. Стерлитамак, ул. Артёма, 53б)</li>
<li>357 - ВСП 8598/0357 (с. Красноусольский, ул. Коммунистическая, 12)</li>
<li>365 - ВСП 8598/0365 (г. Стерлитамак, ул. Артёма, 149)</li>
<li>371 - ВСП 8598/0371 (г. Стерлитамак, пр. Ленина, 11)</li>
<li>372 - ВСП 8598/0372 (г. Стерлитамак, ул. Вокзальная, 15)</li>
<li>373 - ВСП 8598/0373 (г. Стерлитамак, пр. Ленина, 45а)</li>
<li>374 - ВСП 8598/0374 (г. Стерлитамак, ул. Суворова, 22)</li>
<li>376 - ВСП 8598/0376 (г. Стерлитамак, пр. Ленина, 38)</li>
<li>377 - ВСП 8598/0377 (г. Стерлитамак, ул. Худайбердина, 113)</li>
<li>379 - ВСП 8598/0379 (г. Стерлитамак, пр. Октября, 43)</li>
<li>380 - ВСП 8598/0380 (г. Стерлитамак, ул. Мира, 58)</li>
<li>381 - ВСП 8598/0381 (г. Стерлитамак, ул. Шафиева, 1)</li>
<li>382 - ВСП 8598/0382 (г. Стерлитамак, пр. Октября, 77)</li>
<li>383 - ВСП 8598/0383 (г. Стерлитамак, ул. Гоголя, 106)</li>
<li>384 - ВСП 8598/0384 (г. Стерлитамак, ул. Имая Насыри, 1)</li>
<li>395 - ВСП 8598/0395 (с. Толбазы, ул. Ленина, 103в)</li>
</ol>